body, button {
	font: 24px sans-serif;
	line-height: 48px;
}

td {
	width: 100px;
	height: 100px;
	background: #eeeeee;
	border: 1px solid #000000;
	text-align: center;
}

/* --- Opdracht 9 --- */

td .X {

}

td .O {

}

/* --- Opdracht 9 --- */

/* --- Opdracht 10 --- */

button {

}

/* --- Opdracht 10 --- */

.status div {
	display: none;
}

.status div.zichtbaar {
	display: block;
}
